@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

// Variables e Colors
$color-primary: #6765f1;
$color-danger: #ff7782;
$color-sucess:#41f1b6;
$color-warning:#ff7782;

$color-white:#fff;
$color-info-dark:#7b8da1;
$color-dark: #363949;
$color-light:#5453962e;
$color-primary-variant:#677483;
$color-background:#f5f4f4;

$card-border-radius:2rem;
$border-radius-1:0.4rem;
$border-radius-2:0.8rem;
$border-radius-3:1.2rem;

$card-padding:1.8rem;
$padding-1:1.2rem;

$box-shadow:0 2rem 3rem $color-light;

/* ------------- DARK THEME VARIABLES ------------- */
.dark-theme-variables {
    $color-background: #181a1e;
    $color-white: #202528;
    $color-dark:#edeffd;
    $color-dark-variant:#a3bdcc;
    $color-light: rgba(0,0,0,0.4);
    $box-shadow: 0 2rem 3rem var($color-light);
  }


a {
    color:$color-dark;
}

img {
    display: block;
    width: 100%;   
}

h1 {
    font-weight:800;
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}
h3 {
    font-size: 0.87rem;
}
h4 {
    font-size: 0.8rem;
}
h5 {
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

// icons
.material-icons{
    width: 24px;
    height: 24px;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: $color-info-dark;
}

b {
    color: $color-dark;
}

.primary {
    color:$color-primary;
}

.danger {
    color:$color-danger;
}

.sucess {
    color:$color-sucess;
}
.warning {
    color:$color-warning;
}

