@import "_reset";
@import "_variables";
@import "mixins";

main {
  margin-top: 1.4rem;

  .date {
    display: inline-block;
    background-color:var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;

    input {
      background-color: transparent;
      color: var(--color-dark);
    }
  }
  .insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;

    // CARDS
    .sales,
    .expenses,
    .income {
      background-color: var(--color-white);
      padding: var(--card-padding);
      border-radius: var(--card-border-radius);
      margin-top: 1rem;
      box-shadow: var(--box-shadow);
      transition: all 300ms ease;

      &:hover {
        box-shadow: none;
      }

      span {
        @include flexCenter(center,center);
        background-color: var(--color-primary);
        color: var(--color-white);
        padding: 1.2rem;
        border-radius: 50%;
        font-size: 1.5rem;
      }
    }
    .expenses span {
      background-color: var(--color-danger);
    }
    .income span {
      background-color:var(--color-sucess);
    }

    .middle {
      @include flexCenter(center,center);
      
      h3 {
        margin: 1rem 0 0.6rem;
        font-size: 1rem;
      }
      .progress {
        position: relative;
        width: 90px;
        height: 90px;
        border-radius: 50%;

        svg {
          width: 7rem;
          height: 7rem;

          circle {
            fill: none;
            stroke: var(--color-primary);
            stroke-width: 14;
            stroke-linecap: round;
            transform: translate(5px, 5px);
            stroke-dasharray: 110;
            stroke-dashoffset: 92;
          }
        }
      }
    }

    .sales .middle svg circle {
      stroke-dashoffset: -30;
      stroke-dasharray: 200;
    }
    .expenses .middle svg circle {
      stroke-dashoffset: 10;
      stroke-dasharray: 80;
    }
    .income .middle svg circle {
      stroke-dashoffset: 35;
      stroke-dasharray: 110;
    }
  }

  .progress .number {
    @include flexCenter(center,center);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .text-muted {
    margin-top: 1.3rem;
    display: block;
  }
  // Recent Order
  .recent-orders {
    margin-top: 2rem;

    h2 {
      margin-bottom: 0.8rem;
    }
    table {
      background-color: var(--color-white);
      width: 100%;
      border-radius: var(--card-border-radius);
      padding: var(--card-padding);
      text-align: center;
      box-shadow: var(--box-shadow);
      transition: all 300ms ease;

      &:hover {
        box-shadow: none;
      }

      tbody {
        td {
          height: 2.8rem;
          border-bottom: 1px solid var(--color-light);
        }

        tr:last-child td {
          border: none;
        }

        .primary:hover {
          cursor: pointer;
          color: var(--color-dark);
        }
      }
    }

    a {
      text-align: center;
      display: block;
      margin: 1rem auto;
      color: var(--color-primary);

      &:hover {
        cursor: pointer;
        color: var(--color-dark);
      }
    }
  }
}
